.container-fluid.no--padding
    .row.breadcrum-row.bg--black
        .col-md-4
            a(href="#") Other sites: individual ventors
        .col-md-8
            ul.list-inline.list-unstyled.text-right
                li.list-inline-item
                    a(href="#") Contact us
                li.list-inline-item
                    a(href="#") Preferences
                li.list-inline-item.login
                    a(href="#") Login
                 
