.container
    .row
        .col-md-4
            a(href="#") Other sites: individual ventors
        .col-md-8
            ul.list-inline.list-unstyled
                li.list-inline-item
                    a(href="#") Contact us
                li.list-inline-item
                    a(href="#") Preferences
                li.list-inline-item
                    a(href="#") Login
                 
