footer
    .container
        .row
            .col-md-2
                h5.footer-list-heading My Accounts
                ul.list-unstyled
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio

            .col-md-2
                h5.footer-list-heading Investments
                ul.list-unstyled
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                   

            .col-md-2
                h5.footer-list-heading Insights
                ul.list-unstyled
                    li
                        a(href="#") Investment
                  

            .col-md-2
                h5.footer-list-heading Products
                ul.list-unstyled
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio


            .col-md-2
                h5.footer-list-heading Planning
                ul.list-unstyled
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio

            .col-md-2
                h5.footer-list-heading Services &amp; support
                ul.list-unstyled
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
                    li
                        a(href="#") View portfolio
            
    