nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#")
        img.logo(src="../images/logo.png" alt="Logo")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
  

    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#") my accounts 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="") investments
            li.nav-item
                a.nav-link(href="") insights
            li.nav-item
                a.nav-link(href="") products
            li.nav-item
                a.nav-link(href="") planning
            li.nav-item
                a.nav-link(href="") service &amp; support
            li.nav-item
                a.nav-link(href="") forms    