//Classes

//bg classes
.bg--aquagreen {
  background-color: $aquagreen;
}
.bg--blue {
  background-color: $blue;
}
.bg--skyblue {
  background-color: $skyblue;
}
.bg--black {
  background-color: $black;
}
.bg--white {
  background-color: $white;
}

%margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// .inline-block > * {
//   display: inline-block;
// }
.no--padding {
  padding: 0;
}
